<%-include('header.ejs');%>
<!--<h1>Technology-enhanced, digitally enabled member journey</h1>

<h6>We’re redefining our role in healthcare. The future we’re creating thrives on innovative ideas and our ingenious spirit.
  Our solutions balance the best and most impactful ways to deliver pharmacy care. With a member-first and clinical approach, we’re creating what’s possible.</h6>-->


  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/logoCA.jpg" alt="" width="550" height="150">
    <h1 class="display-5 fw-bold">Technology-enhanced, digitally enabled member journey</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We’re redefining our role in healthcare. The future we’re creating thrives on innovative ideas and our ingenious spirit.
        Our solutions balance the best and most impactful ways to deliver pharmacy care. With a member-first and clinical approach, we’re creating what’s possible.</p>
    </div>
  </div>

<%-include('footer.ejs');%>
