<%-include('header.ejs');%>
<!--<h1>Technology-enhanced, digitally enabled member journey</h1>

<h6>We’re redefining our role in healthcare. The future we’re creating thrives on innovative ideas and our ingenious spirit.
  Our solutions balance the best and most impactful ways to deliver pharmacy care. With a member-first and clinical approach, we’re creating what’s possible.</h6>-->


  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/bootstrap-fill.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Covid Assessment</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">For general/business inquiries, please write to us at:

IngenioRx
450 Headquarters Plaza, 7th Floor East Tower
Morristown, NJ 07960



For member service inquiries,

please call the number on the back of your ID card or (833) 419-0530

Need assistance or have a question? Email us.



For technical support please call (844) 430-0335,
Monday - Friday,8 a.m. to 8 p.m. ET.



For media inquiries please email us.

Sign up for business email communications from IngenioRx. Stay Informed.</p>
    
    </div>
  </div>

<%-include('footer.ejs');%>
