<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3298.2939973747693!2d-118.52986318558847!3d34.241041015206115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c29a540fb2668f%3A0xf01092f387d92a56!2sCalifornia%20State%20University%2C%20Northridge!5e0!3m2!1sen!2sus!4v1633729475104!5m2!1sen!2sus"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <!--Google Maps-->
  </body>
</html>
