<%-include('user_header.ejs');%>
    <div class="outer-box">
   <div class="actiontiles">

        <a href="test-results">
            <img calss="img" src="images\test-result.png" alt="Test results">
            <h5 role="link">Access your results</h5></a>
    </div>
    <div class="actiontiles">
        <a href="results-faq"> <img src="images\FAQ.png" alt="FAQ">
            <h5 role="link">Results FAQ</h5></a>
    </div></div>
    <style>
        .actiontiles {
            display: inline-block;
            background-color:white ;
            position: relative;
            padding: 50px 150px 50px 150px;
            margin-top: 0;

        }
        .outer-box{
            padding-bottom:200px;
        }

    </style>

    <%-include('footer.ejs');%>
