<%-include('user_header.ejs');%>
<div>
    <h1 class="faq-header">Frequently Asked Questions</h1>
</div>
<span>
    <div class=questions-section>
        <div>
            <div class="faq-questions">
                <h2>Should I be tested for COVID-19? </h2>
            </div>
            <div class="faq-answers">
                <p class="Body">Covid Asessment center is following CDC and local County Public Health guidelines on
                    who
                    should be tested for COVID-19. Generally speaking, it includes patients with one or more of the
                    following symptoms:
                    <ul>
                        <li>Cough</li>
                        <li>Fever or chills</li>
                        <li>Shortness of breath or difficulty breathing</li>
                        <li>Sore throat</li>
                        <li>New loss of taste or smell</li>
                        <li>Congestion or runny nose</li>
                        <li>Nausea or vomiting</li>
                        <li>Diarrhea</li>
                        <li>Headache</li>

                    </ul>
                </p>
            </div>
        </div>
        <div class="faq-questions">
            <h2>Is my information secure? </h2>
        </div>
        <div class="faq-answers">
            <p class="Body">Yes, we implement industry best practices, such as secure HTTPS encryption, to protect
                your information. We require a username and password to access your information and after 30 minutes
                of inactivity, you are automatically logged out. Our servers comply with all regulatory rules
                associated with protecting health information.</p>
        </div>
        <div>
            <div class="faq-questions">
                <h2>Whose appointments appear on the Appointments page? </h2>
            </div>
            <div class="faq-answers">
                <p class="Body">The View Appointments section displays only those appointments that you scheduled
                    for
                    yourself.</p>
            </div>
        </div>

        <div class="faq-questions">
            <h2>How long does it take to get lab test results? </h2>
        </div>
        <div class="faq-answers">
            <p class="Body">COVID-19 RESULTS: Test results are typically available 24-48 hours from the time the
                collected sample arrives in our lab. As testing conditions continue to evolve, stay up to date on
                estimated turnaround times.

                If your testing was ordered by your healthcare professional, your lab test results will be delivered
                as
                soon as they are available. If it has been
                more than 5 days since you came in for testing, you can go to the Results page and test results.</p>
        </div>
        <div>
            <div class="faq-questions">
                <h2>What is a continuity of care document?</h2>
            </div>
            <div class="faq-answers">
                <p class="Body">A Continuity of Care Document (CCDA) is a standardized format for providing health
                    information about a patient. The document will be formatted in HTML or XML.</p>
            </div>
        </div>
        <div>
            <div class="faq-questions">
                <h2>Can I get my lab tests prioritized or expedited?</h2>
            </div>
            <div class="faq-answers">
                <p class="Body">The laboratory testing your purchase cannot be prioritized or expedited.</p>
            </div>
        </div>
    </div>
</span>


<style>
    .faq-header {
        background-color: rgba(31, 122, 175, 0.603);
        width: 100%;
        padding: 50px 200px 50px 200px;
        margin-top: 50px;

    }

    .questions-section {
        padding-top: 50px;
        padding-bottom: 200px;
        font-size: 28px;
    }

    .faq-questions {
        font-size: 28px;
        text-align: left;
        padding-top: 50px;
    }

    .faq-answers {
        font-size: 20px;
        padding-top: 30px;
        text-align: left;

    }
</style>

<%-include('footer.ejs');%>