.map-container{
overflow:hidden;
position:relative;
margin: auto;
width: 60%;
border: 3px solid #73AD21;
padding: 10px;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #ecedee;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgb(225, 226, 230), rgb(225, 226, 230));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgb(225, 226, 230), rgb(225, 226, 230))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}